<div class="container">
<h1>Login</h1>

<%= form_tag '/login',  class: 'form' do %>
  <div class="form-outline mb-3 col-5">
  Email: <%= text_field_tag :email, nil, class: "form-control"%>
  </div>
  <div class="form-outline mb-3 col-5">
  Password: <%= password_field_tag :password, nil, class: "form-control" %>
  </div>
  <%= submit_tag "Submit", class: 'btn btn-primary btn-block mb-4' %>

<% end %>

<div>
<% if flash[:notice].present? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
</div>
</div>
