<section class="orders-show">

  <header class="page-header">
    <h2>Order Details</h2>
  </header>
  <div>
  <h4>Order Number: <%= @order.id %></h4>
  <table>
    <thead>
      <tr>
        <th>Product Picture</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Quantity</th>
        <th>Item Price</th>
        <th>Item Total</th>
      </tr>
    </thead>
    <% final_total = 0 %>
    <tbody>
      <% @line_items.each do |entry|
        final_total += entry.total_price_cents %>
        <tr>
          <td><%= image_tag @products[entry.product_id - 1].image.thumb.url , alt: @products[entry.product_id - 1].name %></td>   
          <td><%= @products[entry.product_id - 1].name %></td>
          <td><%= @products[entry.product_id - 1].description %></td>
          <td><%= entry.quantity %></td>
          <td>$<%= number_with_precision(entry.item_price_cents / 100.0, precision: 2) %></td>
          <td>$<%= number_with_precision(entry.total_price_cents / 100.0, precision: 2) %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <h4> Final Total: $<%= number_with_precision(final_total/100.0 , precision: 2) %> </h4>
  <h4> Email for this purchase: <%= @order.email %> </h4>
</div>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section> 
